# ignore build directories with the most commonly used names:
[Bb]uild/

# autotools
autom4te.cache/

# autotools backup files
*~

# SISAL compiler intermediates, which land next to the .sis source
*.if1
*.mono
*.opt
*.mem
*.up
*.part
